
<p></p>
<%= form_for @reading do |f| %>
  <p><%= f.label "Description: " %>
  <%= f.text_field :desc %></p>
    <%= f.fields_for :cards_readings, @reading.cards_readings.build do |cards_readings_fields| %>
        <p><%= cards_readings_fields.collection_select :card_id, Card.all, :id, :name %></p>
        <%= cards_readings_fields.text_field :num %>

        <br>Upright: <%= radio_button(cards_readings_fields, upright, true) %>
        <br>Reversed: <%= radio_button(cards_readings_fields, upright, false) %>
    <% end %>
    <p></p>
        
    <%= f.fields_for :cards_readings, @reading.cards_readings.build do |cards_readings_fields| %>
        <p><%= cards_readings_fields.collection_select :card_id, Card.all, :id, :name %></p>
        <%= cards_readings_fields.text_field :num %>
        <br>Upright: <%= radio_button(cards_readings_fields, upright, true) %>
        <br>Reversed: <%= radio_button(cards_readings_fields, upright, false) %>
    <% end %>
    <br>TEST: 
    
    
  <%= f.submit %>
<% end %>