<%= form_for @reading do |f| %>
    <%= spread_id_field(@reading) %>

    <p><%= f.label "Description: " %><br> 
    <%= f.text_area :desc %></p>

    <%= f.fields_for :cards_readings, @reading.cards_readings.build do |cards_readings_fields| %>
        <%= cards_readings_fields.collection_select :card_id, Card.all, :id, :name %><br>

        <%= cards_readings_fields.label "Drawn first, second, or third? (Use a real number from 1-3): " %> <%= cards_readings_fields.text_field :num %><br>

        Upright: <%= cards_readings_fields.radio_button 'upright', 'true' %><br>
        Reversed: <%= cards_readings_fields.radio_button 'upright', 'false' %><br>
    <% end %>

    <p></p>
         
    <%= f.fields_for :cards_readings, @reading.cards_readings.build do |cards_readings_fields| %>
        <%= cards_readings_fields.collection_select :card_id, Card.all, :id, :name %><br>

        <%= cards_readings_fields.label "Drawn first, second, or third? (Use a real number from 1-3): " %> <%= cards_readings_fields.text_field :num %><br>

        Upright: <%= cards_readings_fields.radio_button 'upright', 'true' %><br>
        Reversed: <%= cards_readings_fields.radio_button 'upright', 'false' %><br>
    <% end %>

    <p></p>

    <%= f.fields_for :cards_readings, @reading.cards_readings.build do |cards_readings_fields| %>
        <%= cards_readings_fields.collection_select :card_id, Card.all, :id, :name %><br>
        
        <%= cards_readings_fields.label "Drawn first, second, or third? (Use a real number from 1-3): " %> <%= cards_readings_fields.text_field :num %><br>
        
        Upright: <%= cards_readings_fields.radio_button 'upright', 'true' %><br>
        Reversed: <%= cards_readings_fields.radio_button 'upright', 'false' %><br>
    <% end %>
    <p></p>
  <%= f.submit %>
<% end %>