<!DOCTYPE html>
<html>
  <head>
    <title>Arcanacollaboration</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p><% if session[:user_id] %>
      <%= button_to "Profile", user_url(current_user.id), method: :get %>
      <%= button_to "Log Out", logout_path, method: :delete %>
    <% else %>
      <%= button_to "Sign Up", signup_url, method: :get %>
      <%= button_to "Log In", login_url, method: :get %>
    <% end %></p>
    <p></p>
    <%= yield %>
  </body>
</html>
